@import 'styles/_base.scss';

@import './pages/homepage/homepage';
@import './shared/bottomBar/bottomBar';
@import './shared/topBar/topBar';
@import './shared/searchInput/searchInput';
@import './shared/productCard/productCard';

.fullpage {
  padding: $barLineHeight + 3 * $padding $padding $barLineHeight + 3 * $padding;
  min-height: 100vh;
  min-widtht: 100vw;
}

@media only screen and (max-width: $mobile_width) {
  @import './app.mobile';
}
